@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.container{
    position:relative;
    height:99vh;
    width:100vw;
    left:-2.2vw;
    top:-1vh;

}
.main{
  position:relative;
  width:98.2vw;
}
.green{
    position: fixed;
    top:0;
    left:0vw;
    background-color:#075E54;
    height:20vh;
    width:100vw;
    color:#FFF;
    z-index: 1;
}
#wa{ 
   display:block;    
   font-weight:500;
   font-size:4vh;
   padding-top:2vh;
   padding-left:3vw;
}


span{
  position:absolute;
}
#chats{
   font-weight:500;
   font-size:2.8vh;
   top:13vh;
   left:10vw;
   padding-left:7vw;
   height:6.2vh;
   width:22vw;
   color: #FFF;

}
#sts{
   font-weight:500;
   font-size:2.8vh;
   top:13vh;
   left:38vw;
   padding-left:7vw;
   color: #FFF; 
   height:6.2vh;
   width:22vw;
}
#call{
   font-weight:500;
   font-size:2.8vh;
   top:13vh;
   left:67.8vw;
   padding-left:10vw;
   color: #FFF; 
   height:6.2vh;
   width:22vw;
}
.profile{
  height:45px;
  width:45px;
  border-radius: 50%;
}
.people{
  position:relative;
  left:2vw;
}
#msg{
  position:relative;
  z-index:0;
  top:17vh;
  left:-0.4vw;
  padding-top:5vh;
  padding-left:2vw;
}
.name{
  font-size: 2.8vh;
  font-weight: 700;
  left:14vw;
}
.messages{
  display: block;
  left:16vw;
  top:5vh;
  font-size:2.3vh;
}
.status_section{
    display:none;
}

#dots:before{
  content:'';
  border-radius: 50%;
  background-color:#FFF;
  height: 0.8vh;
  width: 1vw;
  top:-1.2vh;
  position: absolute;
}
#dots{
  border-radius: 50%;
  background-color:#FFF;
  height: 0.8vh;
  width: 1vw;
  top:4vh;
  right:5vw;
  display: block;
}
#dots:after{
  content:"";
  border-radius: 50%;
  background-color:#FFF;
  height: 0.8vh;
  width: 1vw;
  top:1.2vh;
  position: absolute;
}

#camera img{
    height:5vh;
    position:absolute;
    top:13vh;
    left:1.3vw;
    opacity:0.6;
}
#search{
    right:14vw;
    top:2vh;
}
#search img{
    height:5vh;
}
hr{
    width:80vw;
    position:relative;
    left:5vw;
    opacity:0.2;
}

/*PC*/
@media only screen and (min-width:720px){
  #dots:before{
  content:'';
  height: 1.1vh;
  width: 0.6vw;
  top:-1.8vh;
  }
  #dots{
  height: 1.1vh;
  width: 0.6vw;
  top:5vh;
  right:3.5vw;
  }
  #dots:after{
  height: 1.1vh;
  width: 0.6vw;
  top:2vh;
  }
  .profile{
  height:11vh;
  width:7vw;
  position: relative;
  left:2vw;
  }
  .name{
    left:12vw;
  }
  .messages{
    left:13vw;
  }
  #camera img{
    left:3.5vw;
  }
  #chats{
    width:17vw;
    padding-left: 11vw;
    font-size: 3vh;
 }
 #sts{
    padding-left: 13vw;
    width:18vw;
    font-size: 3vh;
 }
 #call{
    width:17vw;
    left:69vw;
    padding-left: 13vw;
    font-size: 3vh;
 }
 #search{
    right:8vw;
    top:3vh;
}
}
.dots_menu{
    display:none;
    position:absolute;
    background-color:#FFF;
    right:0.5vw;
    top:0.5vh;
    min-width:55vw;
    z-index:2;
    box-shadow:0 8px 16px 0 rgb(0,0,0,0.3);
    border-radius:2px;
}
.dots_menu ul{
     display:inline;   
}
.dots_menu ul li{
    color:black;
    padding:12px;
    list-style-type:none;
}
.show{
    display:block;
}
.times{
    right:2.5vw;
    font-size:2.1vh;
    opacity:0.5;
}
#light{
    display:none;
}
